In [ ]:
import pandas as pd

df1 = pd.read_csv("fake_job_postings.csv")
df1.drop(['department', 'telecommuting', 'has_company_logo', 'has_questions',
        'required_experience', 'required_education', 'job_id', 'function',], axis=1, inplace=True)
# df1.columns = ['title', 'location', , 'salary_range', 'company_profile', 'description', 'requirements', 'benefits',
#         'employment_type', 'industry', 'fraudulent']
df2 = pd.read_csv("fake_postings.csv")

Index(['title', 'location', 'salary_range', 'company_profile', 'description',
       'requirements', 'benefits', 'employment_type', 'industry',
       'fraudulent'],
      dtype='object')

In [8]:
merged_df = pd.concat([df1, df2])
merged_df

,title,location,salary_range,company_profile,description,requirements,benefits,employment_type,industry,fraudulent
0,Marketing Intern,"US, NY, New York",NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,Other,NaN,0
1,Customer Service - Cloud Video Production,"NZ, , Auckland",NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,Full-time,Marketing and Advertising,0
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,NaN,NaN,0
3,Account Executive - Washington DC,"US, DC, Washington",NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,Full-time,Computer Software,0
4,Bill Review Manager,"US, FL, Fort Worth",NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,Full-time,Hospital & Health Care,0
...,...,...,...,...,...,...,...,...,...,...
9995,"Designer, furniture",Paulabury,$39450-$149734,Olson-Williams - Established 2017.,Worry own pressure stuff together room propert...,"Basic knowledge in discussion, no degree requi...",Free meals,Full-Time,Retail,1
9996,"Therapist, speech and language",Moraleschester,$49324-$111597,Moreno-Pruitt - Established 2016.,Enter bit thing certainly. Earn $5000/week! Im...,"Basic knowledge in value, no degree required. ...",Sign-on bonus,Part-Time,IT,1
9997,"Therapist, sports",Christinemouth,$41346-$89686,"Lewis, Patterson and Cowan - Established 1979.",Visit goal under boy. Earn $5000/week! Immedia...,"Basic knowledge in during, no degree required....",Remote work opportunities,Full-Time,Education,1
9998,Clinical research associate,Lake Meredithberg,$65604-$149614,Diaz-Wilkerson - Established 2019.,Walk money letter few. Earn $5000/week! Immedi...,"Basic knowledge in can, no degree required. Fl...",Flexible hours,Contract,Finance,1
9999,Hospital pharmacist,Samanthaland,$56437-$112301,"Sanders, Sanchez and Cox - Established 2024.",Other left TV each reveal. Earn $5000/week! Im...,"Basic knowledge in pick, no degree required. F...",Free meals,Temporary,Real Estate,1